/* COLOUR SCHEME
	#F8F1FA - light purple
	#C1B3C4 - purple
	#896F8F - darker purple
	#33B89B - light green
	#E7E7E7 - light grey
	#CCCCCC - dark grey
*/

/* MAIN CSS /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

body{
	position:relative;
	font-family: 'Tenali Ramakrishna', sans-serif;
	overflow-y: scroll;
	width:100%;
}
.affix {
   	top:0;
  	width: 100%;
 	z-index: 9999 !important;
  }
.affix ~ .scrolling {
 	position: relative;
 	top: 90px;
	overflow-y: scroll;
  }
hr {
    height: 1px;
    border: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
a, a:hover, a:active{ outline:0px !important}

main{
	overflow-y:scroll;
	overflow-x:hidden;
}

/* SCROLLMAGIC CSS //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */



/* NAV CSS //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.navbar{
	border-radius:0;
	background-color:#C1B3C4;
	height:91px;
	margin-bottom:0;
}
.navbar-default{
	border-color:transparent;
}
.navbar-default .navbar-brand{
	font-family: 'Tangerine', cursive;
	font-size:5em;
	color:#ffffff;
	line-height:60px;
	transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:visited, .navbar-default .navbar-brand:active{
	color:#ffffff;
	text-shadow: 2px 2px 2px #000000;transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}
.navbar-default .navbar-nav li a{
	font-size:2em;
	color:#ffffff;
	line-height:60px;
	text-transform:uppercase;
	transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}
.navbar-default .navbar-nav li a:hover{
	color:#ffffff;
	text-shadow: 2px 2px 2px #000000;
	transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}


/* HERO CSS /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.hero-bg{
	background:url(../img/suninthecrotch-opt.jpg);
	background-attachment:fixed;
	background-position:50% 0%;
	background-repeat:no-repeat;
	background-size:cover;
}
.hero-bg h1{
	color:#C1B3C4;
	font-family: 'Tangerine', cursive;
	font-size:7em;
	text-shadow:2px 2px 2px #000000;
	padding:370px 0 0;
}
.hero-bg a button{
	font-size:2em;
	font-family: 'Tenali Ramakrishna', sans-serif;
	padding:10px 3%;
	margin-bottom:110px;
	border-radius:0;
	border:2px solid #C1B3C4;
	background-color:transparent;
	color:#C1B3C4;
	text-shadow:2px 2px 2px #000000;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}
.hero-bg a button:hover, .hero-bg a button:visited, .hero-bg a button:active{
	background-color:#C1B3C4;
	color:#ffffff;
	text-shadow:2px 2px 2px #000000;
	transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}

/* CLOCK CSS ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.countdown-bg{
	background-color:#F8F1FA;
	font-size:3em;
}
.countdown-bg .clock{
	padding:150px 0;
}
.countdown-bg span{
	color:#33B89B;
}
.atc-style-blue .atcb-link{
	font-family: 'Tenali Ramakrishna', sans-serif;
	border-radius:0;
	color:#ffffff;
	text-shadow:2px 2px 2px #000000;
	background-color:#33B89B;
	text-transform:uppercase;
	font-weight:bold;
	transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}
.atc-style-blue .atcb-link:hover,
.atc-style-blue .atcb-link:active,
.atc-style-blue .atcb-link:focus{
	background-color:#896F8F;
	color:#ffffff;
	text-shadow:2px 2px 2px #000000;
	transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}

/* VENUE CSS ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.resort-bg{
	background:url(../img/oceanstone-2.jpg);
	background-attachment:fixed;
	background-position:50% 100%;
	background-repeat:no-repeat;
	background-size:cover;
}
.resort-bg h1{
	color:#F8F1FA;
	font-family: 'Tangerine', cursive;
	font-size:7em;
	text-shadow:2px 2px 2px #000000;
	padding:250px 0 100px 0;
}
.resort-bg .where-wrap{
	margin-bottom:110px;
	border-radius:0;
	color:#000000;
	background-color:#C1B3C4;
	padding:0;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.resort-bg .where-wrap h2{
	color:#ffffff;
	text-shadow:2px 2px 2px #000000;
	font-size:4em;
	padding:0;
}
.resort-bg .where-wrap p{
	font-size:1.5em;
	padding:0;
}
.resort-bg .where-wrap .btn{
	font-size:1.5em;
	border-radius:0;
	width:100%;
	color:#ffffff;
	text-shadow:2px 2px 2px #000000;
	background-color:#33B89B;
	text-transform:uppercase;
	font-weight:bold;
	transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}
.resort-bg .where-wrap .btn:hover{
	background-color:#896F8F;
	color:#ffffff;
	text-shadow:2px 2px 2px #000000;
	transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}

/* FYI CSS //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.fyi-bg{
	background-color:#F8F1FA;
	color:#000000;
}
.fyi-text p{
	line-height:1em;
	font-size:1.5em;
	text-align:left;
}
.fyi-wrap{
	padding:100px 1%;
}
.fyi-wrap h1{
	text-align:center;
	color:#33B89B;
	font-size:4em;
	padding-bottom:100px;
}
.fyi-text{
	padding:2%;
	margin-bottom:2%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color:#E7E7E7;
}
.fyi-text span{
	color:#33B89B;
	font-weight:bolder;
	text-transform:uppercase;
}
.fyi-promo{
	padding:0 0 0 1%;
}
.embed-responsive{
	margin:0;
	padding:298px 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* SQUAD CSS ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.squad-bg{
    background:-webkit-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0)); /* Standard syntax */
}
.squad-bg h1{
	padding:150px 0 0;
	text-transform:uppercase;
	font-size:5em;
	color:#C1B3C4;
}
.squad-bg h2{
	font-size:2em;
	padding:5px 0 30px;
	color:#C1B3C4;
}
.squad-bg h3{
	font-size:2em;
	color:#ffffff;
	padding-top:-20px;
	display:none;
}
.portfolio-box{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 600px;
}
.portfolio-box .portfolio-box-caption {
	border-radius:0;
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(193,179,196,0.7);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
.portfolio-box:hover .portfolio-box-caption, .portfolio-box:focus .portfolio-box-caption {
    opacity: 1;
}
.portfolio-box:active .portfolio-box-caption{
	opacity:0;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
}
.project-category h2{
	line-height:0.3em;
	font-family: 'Tangerine', cursive;
	color:#896F8F;
	text-shadow: 2px 2px 2px #000000;
}
.project-category h4{
	font-size:1.2em;
	font-family: 'Tangerine', cursive;
	color:#ffffff;
	text-shadow: 2px 2px 2px #000000;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 2.5em;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
	line-height:1.2em;
    font-size: 1.5em;
}
.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}
.pic{
	padding:20px 0;
}
#pic11{
	padding-bottom:50px;
}


/* RSVP CSS /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.textarea{
	padding-top:20px;
}
select.form-control{
	font-size:1em;
}
::-webkit-input-placeholder {
	text-align:center;
   	font-size: 1.5em!important;
}
:-moz-placeholder { /* Firefox 18- */
	text-align:center;
   	font-size: 1.5em!important;
}
::-moz-placeholder {  /* Firefox 19+ */
	text-align:center;
   	font-size: 1.5em!important;
}
.modal-body{
	font-size:2em;
	background-color:#EFEFEF;
}
.modal-header{
	text-shadow:2px 2px 2px #000000;
	background-color:#C1B3C4;
	color:#ffffff;
}
.modal-body h1, .modal-body h2{
	color:#33B89B;
}
.modal-body span{
	color:#896F8F;
}
.btn-primary{
	font-size:1.2em;
	border-color:#33B89B;
	border-radius:0;
	color:#ffffff;
	text-shadow:2px 2px 2px #000000;
	background-color:#33B89B;
	transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}
.btn-primary:hover{
	border-color:#896F8F;
	background-color:#896F8F;
	color:#ffffff;
	text-shadow:2px 2px 2px #000000;
	transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}
.btn-default{
	font-size:1.2em;
	border-radius:0;
	transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}
.btn-default:hover{
	transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}

/* STORY CSS ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.story-bg{
	background:url(../img/story-opt.jpg);
	background-attachment:fixed;
	background-position:50% 100%;
	background-repeat:no-repeat;
	background-size:cover;
}
.story-bg h1{
	color:#C1B3C4;
	font-family: 'Tangerine', cursive;
	font-size:7em;
	text-shadow:2px 2px 2px #000000;
}
.slider{
	padding:200px 0;
	font-size:1.5em;
}
.slider-wrap{
	padding:0;
	margin-bottom:2%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background: rgba(193,179,196,0.7);
	color:#ffffff;
}
.slider-wrap h3{
	font-size:1.7em;
	font-family: 'Tangerine', cursive;
	color:#ffffff;
	text-shadow: 2px 2px 2px #000000;
}
.slick-prev, .slick-next{
	z-index: 9999 !important;
	margin:0 50px;
}
#slider-1{
	padding:50px 0;
}
#slider-2{
	padding:65px 0;
}
#slider-3{
	padding:65px 0;
}
#slider-4{
	padding:80px 0;
}
#slider-5{
	padding:65px 0;
}
#slider-6{
	padding:65px 0;
}
.slick-slide img{
	display:inline;
}

/* GALLERY CSS //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.swiper-container {
	width: 100%;
	height: 100%;
}
.gallery-bg{
	background-color:#F8F1FA;
	position:relative;
	padding-bottom:690px;
}
.gallery-bg h1{
	color:#33B89B;
	font-size:4em;
	padding:100px 0;
}
.swiper-slide{
    position: relative;
}
.swiper-slide .swiper-text {
    position: absolute;
	top:50%;
	width:100%;
	color:#ffffff;
	font-size:2em;
    text-align: center;
    transform: translateY(-50%);
	text-shadow: 2px 2px 2px #000000;
}

/* INSTAGRAM CSS ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.insta-wrap{
	background-color:#ffffff;
	position:absolute;
	z-index:99;
	bottom:10px;
	height:650px;
	margin-bottom:100px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h3.tweet-text{
	color:#33B89B;
	text-transform:uppercase;
	font-weight:bolder;
}
.tweet-text{
	text-align:left;
	font-size:1.5em;
}
.insta-sm{
	display:none;
}
h3.insta-text{
	color:#33B89B;
	text-transform:uppercase;
	font-weight:bolder;
}
.insta-text{
	text-align:right;
	font-size:1.5em;
}
.gallery-bg h2{
	padding:0 0 30px 0;
	color:#C1B3C4;
	text-shadow: 1px 1px 1px #000000;
}
.social-link{
	margin:20px 33%;
	display:block;
	overflow:hidden;
	list-style:none;
}
.social-link li{
	float:left;
	margin-right:8px;
}
.social-link li a{
	display:block;
	width:50px;
	height:50px;
	text-align:center;
	line-height:60px;
	font-size:25px;
	color:#fff;
	background:#222222;
	border-radius:50%;
	transition:all 0.3s ease-in-out;
}
.social-link li a:hover, .social-link li a:focus{
	text-decoration:none;
}
.twitter a:hover {
	background: #55acee;
}
.instagram a:hover {
	background: #c13584;
}

/* REGISTRY CSS ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.registry-bg{
	background-color:#C1B3C4;
	padding:25px 0;
}
.registry-bg h1{
	opacity:0.5;
}/* coming soon note temporary */
.registry-bg ul{
	padding:0;
	margin:0;
	list-style:none;
	text-align:center;
}
.registry-bg ul li{
	margin:0 15px;
	display:inline;
}
.registry-bg ul a{
	display:inline-block;
	margin:0 20px;
}
#registry-text p.lead{
	margin: 10px 20px 0;
	color: #fff;
	line-height: 1;
}
#registry-text h1{
	font-size: 4.5em;
	color: #fff;
}
.registry-link {
	text-transform:uppercase;
	transition:all 0.5s;
	-moz-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	color: #000;
	opacity: 0.3;
}
.registry-link:hover, .registry-link:focus {
	opacity: 1;
	text-decoration: none;
	cursor: pointer;
	color:#ffffff;
	text-shadow: 2px 2px 2px #000000;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s; 
}

/* FOOTER CSS ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.footer-bg{
	border-top:1px solid #C1B3C4;
	background-color:#000000;
	color:#ffffff;
	font-size:1.5em;
}
.footer-wrap{
	padding:50px 0;
}
.footer-wrap span{
	color:#33B89B;
	font-weight:bolder;
	text-transform:uppercase;
}
.link{
	padding:20px 0;
	color:#ffffff;
	transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}
.link:hover{
	color:#896F8F;
	text-decoration:none;
	transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}
.top{
	padding:20px 1%;
	border-color:#33B89B;
	border-radius:0;
	color:#ffffff;
	text-shadow:2px 2px 2px #000000;
	background-color:transparent;
	transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}
.top:hover{
	border-color:#896F8F;
	background-color:#896F8F;
	color:#ffffff;
	text-shadow:2px 2px 2px #000000;
	text-decoration:none;
	transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}
.to-top{
	z-index: 9999 !important;
}
