/* COLOUR SCHEME
	#F8F1FA - light purple
	#C1B3C4 - purple
	#896F8F - darker purple
	#33B89B - light green
	#E7E7E7 - light grey
	#CCCCCC - dark grey
*/

/* BROWSER RESET CSS //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

html, body{
	font-family: 'Tenali Ramakrishna', sans-serif;
	color: #000000;
	font-size: 1em;
	line-height:2em;
	height:100%;
	margin:0;
	padding:0;
	background-color:#F8F1FA;
}
a, button{
	margin:0;
	padding:0;
}
img, embed, object, video{
	max-width:100%;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio,
canvas,
img,
video {
    vertical-align: middle;
}
textarea {
    resize: vertical;
}
.no-padding {
    padding: 0;
}

/* NAV CSS ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.navbar-default{
	border-color:transparent;
}
.navbar{
	background:transparent;
	height:50px;
	transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-webkit-transition:all 0.4s ease-in-out;
}
.navbar-default .navbar-brand{
	font-family: 'Tangerine', cursive;
	font-size:4em;
	color:#ffffff;
	line-height:50px;
	transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-webkit-transition:all 0.4s ease-in-out;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:visited, .navbar-default .navbar-brand:active{
	color:#C1B3C4;
	text-shadow: 2px 2px 2px #000000;
	transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-webkit-transition:all 0.4s ease-in-out;
}
.navbar-default .navbar-nav li a{
	font-size:1.5em;
	color:#ffffff;
	line-height:50px;
	text-transform:uppercase;
	transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-webkit-transition:all 0.4s ease-in-out;
}
.navbar-default .navbar-nav li a:hover{
	color:#C1B3C4;
	text-shadow: 2px 2px 2px #000000;
	transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-webkit-transition:all 0.4s ease-in-out;
}
.navbar.navbar-shrink {
	background:#ffffff;
	border-color:#8A8A8A;
}
.navbar.navbar-shrink .navbar-brand{
	color:#C1B3C4;
	transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-webkit-transition:all 0.4s ease-in-out;
}
.navbar.navbar-shrink .navbar-brand:hover{
	color:#ffffff;
	text-shadow: 3px 3px 3px #000000;
	transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-webkit-transition:all 0.4s ease-in-out;
}
.navbar.navbar-shrink .navbar-nav li a{
	color:#C1B3C4;
	transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-webkit-transition:all 0.4s ease-in-out;
}
.navbar.navbar-shrink .navbar-nav li a:hover{
	color:#ffffff;
	text-shadow: 3px 3px 3px #000000;
	transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-webkit-transition:all 0.4s ease-in-out;
	
}
.wrap{
	position:relative;
	background-color:#EEDEF2;
	overflow:scroll;
	height:100%;
	width:100%;
}

/* HERO CSS ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.hero-bg{
	background:url(../img/suninthecrotch.jpg);
	background-attachment:fixed;
	background-position:50% 5%;
	background-repeat:no-repeat;
	background-size:cover;
	max-width:100%;
	height:100%;
}
.hero-bg h1{
	color:#ffffff;
	font-family: 'Tangerine', cursive;
	font-size:7em;
	text-shadow:2px 2px 2px #C1B3C4;
	padding:470px 0 0;
}
.hero-bg a button{
	font-size:2em;
	font-family: 'Tenali Ramakrishna', sans-serif;
	padding:10px 3%;
	border-radius:3px;
	border:1px solid #ffffff;
	background:transparent;
	color:#ffffff;
	text-shadow:1px 1px 1px #C1B3C4;
	box-shadow:1px 1px 1px #C1B3C4;
	transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}
.hero-bg a button:hover, .hero-bg a button:visited, .hero-bg a button:active{
	border:1px solid #C1B3C4;
	background:#ffffff;
	color:#C1B3C4;
	text-shadow:1px 1px 1px #C1B3C4;
	box-shadow:1px 1px 1px #C1B3C4;
	transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}

/* COUNTDOWN CSS //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.countdown-bg{
	background-color:#F8F1FA;
}
.clock{
	padding:150px 0;
}
#countdown{
	font-size:3em;
}
#countdown h2{
	font-size:1.3em;
	color:#33B89B;
	font-weight:bolder;
}
#countdown span{
	color:#33B89B;
	font-weight:bolder;
}

/* VENUE CSS //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.resort-bg{
	color:#ffffff;
	background:url(../img/oceanstone-2.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:0% 100%;
	max-width:100%;
	height:1000px;
}
.resort-bg h2{
	padding:100px 0 0;
	font-family: 'Tangerine', cursive;
	font-size:7em;
	text-shadow:2px 2px 2px #C1B3C4;
}
.resort-bg .where-wrap{
	color:#000000;
	background-color:#F8F1FA;
	padding:0;
	border-radius:5px;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.resort-bg .where-wrap h2{
	color:#33B89B;
	text-shadow:2px 2px 2px #CCCCCC;
	font-size:5em;
	padding:0;
}
.resort-bg .where-wrap p{
	font-size:1.5em;
	padding:0;
}
.resort-bg .where-wrap .btn{
	font-size:1.5em;
	border-radius:0;
	width:100%;
	color:#ffffff;
	background-color:#33B89B;
	text-transform:uppercase;
	font-weight:bold;
	transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}
.resort-bg .where-wrap .btn:hover{
	background-color:#000000;
	transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}
.resort-bg .venue-text-right{
	position:relative;
	-webkit-animation: mymove1 2s infinite; /* Safari 4.0 - 8.0 */
  	animation: mymove1 2s infinite;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove1 {
    0%   {top: 50px; left: 200px;}
    50%  {top: 10px; left: 200px;}
    100% {top: 50px; left: 200px;}
}

/* Standard syntax */
@keyframes mymove1 {
    0%   {top: 50px; left: 200px;}
    50%  {top: 10px; left: 200px;}
    100% {top: 50px; left: 200px;}
}
.resort-bg .right-arrow{
	position:relative;
	-webkit-animation: mymove2 2s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove2 2s infinite;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove2 {
    0%   {top: 110px; left: 300px;}
    50%  {top: 150px; left: 350px;}
    100% {top: 110px; left: 300px;}
}

/* Standard syntax */
@keyframes mymove2 {
    0%   {top: 110px; left: 300px;}
    50%  {top: 110px; left: 350px;}
    100% {top: 110px; left: 300px;}
}
.resort-bg .left-arrow{
	position:relative;
	-webkit-animation: mymove3 2s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove3 2s infinite;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove3 {
    0%   {top: 130px; left: 450px;}
    50%  {top: 160px; left: 500px;}
    100% {top: 130px; left: 450px;}
}

/* Standard syntax */
@keyframes mymove3 {
    0%   {top: 130px; left: 450px;}
    50%  {top: 160px; left: 500px;}
    100% {top: 130px; left: 450px;}
}
.resort-bg .venue-text{
	position:relative;
	-webkit-animation: mymove4 2s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove4 2s infinite;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove4 {
    0%   {top: 100px; left: 500px;}
    50%  {top: 130px; left: 500px;}
    100% {top: 100px; left: 500px;}
}

/* Standard syntax */
@keyframes mymove4 {
    0%   {top: 100px; left: 500px;}
    50%  {top: 130px; left: 500px;}
    100% {top: 100px; left: 500px;}
}

/* FYI CSS //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.fyi-bg{
	padding:150px 0;
	background-color:#F8F1FA;
}
.fyi-bg p{
	line-height:1em;
	font-size:1.5em;
	text-align:left;
}
.fyi-text{
	padding:0 1% 0 1%;
}
.fyi-wrap{
	background-color:#E7E7E7;
	color:#000000;
	margin-top:20px;
	padding:1%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.fyi-wrap span{
	color:#33B89B;
	font-weight:bolder;
}
.fyi-text h2{
	color:#33B89B;
	font-size:3em;
}
.fyi-promo{
	padding:0 1% 0 1%;
}
.embed-responsive{
	padding-top:27px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* SQUAD CSS //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.project-category h3{
	font-size:1.5em;
	color:#896F8F;
	text-shadow: 2px 2px 2px #000000;
}
.project-category h6{
	font-size:0.8em;
	color:#896F8F;
	text-shadow: 2px 2px 2px #000000;
}
#portfolio h2{
	padding:50px 0 0;
	text-transform:uppercase;
	font-size:5em;
	color:#C1B3C4;
}
#portfolio h4{
	font-size:2em;
	padding:10px 0 30px;
	color:#C1B3C4;
}
#portfolio h5{
	font-size:2em;
	color:#ffffff;
	padding-top:-20px;
	display:none;
}
.wrap-04{
    background:-webkit-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0)); /* Standard syntax */
}
.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 600px;
}
.portfolio-box .portfolio-box-caption {
	font-size:1.2em;
	border:1px solid #ffffff;
	border-radius:50px;
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(193,179,196,0.7);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
.portfolio-box img{
	border-radius:50px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
	font-family: 'Tangerine', cursive;
	line-height:0.9em;
    font-size: 2.5em;
	padding-bottom:20px;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
	line-height:1.2em;
    font-size: 1em;
}

.portfolio-box:hover .portfolio-box-caption, .portfolio-box:focus .portfolio-box-caption {
    opacity: 1;
}
.portfolio-box:active .portfolio-box-caption{
	opacity:0;
}
.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}
.pic{
	padding-top:20px;
}

/* RSVP CSS //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


.textarea{
	padding-top:20px;
}
.modal-header{
	background-color:#C1B3C4;
	color:#ffffff;
}
.modal-body{
	background-color:#EFEFEF;
}
.modal-body h3{
	color:#33B89B;
}
.modal-body span{
	color:#896F8F;
}
.btn-primary{
	background-color:#C1B3C4;
	border-color:#C1B3C4;
}
.btn-primary:hover{
	background-color:#B454C8;
	border-color:#B454C8;
}
