/* Responsive for screen 946px to 1145px */

.navbar-default .navbar-brand{
	font-size:3em;
	line-height:60px;
}
.navbar-default .navbar-nav li a{
	font-size:1.5em;
	line-height:60px;
}
.gallery-bg{
	padding-bottom:1400px;
}
.insta-wrap{
	height:1300px;
}
.hero-bg{
	background-attachment:scroll;
}
.resort-bg{
	background-attachment:scroll;
}
.story-bg{
	background-attachment:scroll;
}